// (1.02) variables

// google font source
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  // fonts
  --inter: "Inter", sans-serif;
  --cinzel: "Cinzel", serif;
  --montserrat: "Montserrat", sans-serif;

  // default theme settings
  --theme-font: var(--inter);
  --theme-bg: #0c3435;
  --theme-color: #ffffff;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--cinzel);
  }
  // color variables
  --white: #ffffff;
  --black: #000000;
  --primary-color: #b4a474;
  --secondary-color: #8ca858;
  --tertiary-color: #0e0e0e;
  --quaternary-color: #040404;
  --quinary-color: #c1c1c1;
  --senary-color: #191919;
  --septenary-color: #101010;
  --octonary-color: #1a1a1a;
  --nonary-color: #d9d9d9;

  // transitions
  --transition: all 0.3s ease-in-out;

  // shadows
  --shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  --shadow-secondary: 0 0 31px rgba(0, 0, 0, 0.1);
}
